acme==3.1.0
asgiref==3.9.1
attrs==20.3.0
Babel==2.9.1
certbot==3.1.0
certbot-nginx==3.1.0
cffi==1.14.5
chardet==4.0.0
cloud-init==24.4
cockpit @ file:///builddir/build/BUILD/cockpit-334.2/tmp/wheel/cockpit-334.2-py3-none-any.whl
ConfigArgParse==1.7.1
configobj==5.0.6
cryptography==36.0.1
dasbus==1.4
dbus-python==1.2.18
distlib==0.3.2
distro==1.5.0
Django==4.2.24
django-cors-headers==4.8.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
file-magic==0.4.0
filelock==3.7.1
gpg==1.15.1
gunicorn==23.0.0
idna==2.10
importlib-metadata==4.12.0
Jinja2==2.11.3
josepy==1.14.0
jsonpatch==1.21
jsonpointer==2.0
jsonschema==3.2.0
libcomps==0.1.18
MarkupSafe==1.1.1
netifaces==0.10.6
nftables==0.1
oauthlib==3.1.1
packaging==25.0
parsedatetime==2.6
perf==0.1
pexpect==4.8.0
platformdirs==2.5.4
ply==3.11
prettytable==0.7.2
psycopg==3.2.10
psycopg-binary==3.2.10
ptyprocess==0.6.0
pycparser==2.20
PyGObject==3.40.1
pyinotify==0.9.6
PyJWT==2.10.1
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.17.3
pyserial==3.4
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==1.1.1
python-linux-procfs==0.7.3
pytz==2021.1
pyudev==0.22.0
PyYAML==5.4.1
requests==2.25.1
rpm==4.16.1.3
selinux==3.6
sepolicy==3.6
setools==4.4.4
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.32/src
six==1.15.0
sos==4.9.2
sqlparse==0.5.3
systemd-python==234
typing_extensions==4.15.0
urllib3==1.26.5
virtualenv==20.21.1
zipp==3.20.1
